<div class='c-widget'>
  <h3 class='c-widget__title'>{{t 'Advertise' }}</h3>

  <a href='http://nubia.aspirethemes.com/' target='_blank'>
    <img src='{{ asset 'images/advertise-image.jpg' }}' alt='Image Alternative Text'>
  </a>
</div>