<form class="newsletter js-newsletter" action="https://duck.co/s/a" method="post" name="y">
  <input type="hidden" name="page" value="1">
  <input type="hidden" name="campaign" value="b">
  <input type="hidden" name="flow" value="blog">
  <img class="newsletter__illustration--mobile" src="{{asset 'bird-illustration-mobile.svg'}}" />
  <img class="newsletter__illustration--desktop" src="{{asset 'bird-illustration-desktop.svg'}}" />
  <h1 class="newsletter__title">Get a Crash Course on Privacy</h1>
  <h2 class="newsletter__tagline">Sign up for our newsletter and learn about protecting your online privacy.</h2>
  <input class="newsletter__email" type="email" name="email" placeholder="Your email address" required>
  <input class="newsletter__submit" type="submit" value="Subscribe">
  <p class="newsletter__privacy">Your email address will not be shared or associated with anonymous searches. <a href="https://spreadprivacy.com/google-search-history-4bae7619407d">Example Message</a></p>
</form>