<div class="side-nav">
    <div class="side-nav-container">
        <a href="https://www.meddy.com/?utm_source=blog&utm_medium=logo&utm_campaign=meddy" class="nav-logo">
            {{> "icons/logo-main"}}
        </a>

        <a href="#" class="side-menu">
            {{> "icons/menu"}}
        </a>

        <a href="https://hakeem.meddy.com/ar/" class="nav-switch-lang">
            عربي
        </a>
    </div>
</div>

<nav class="side-bar hide">
    <button class="side-bar-close">{{> icons/close}}</button>
    <ul class="side-bar-list">
        <li class="side-bar-title">Top Specialities</li>
        <li>
          <a href="https://www.meddy.com/doctors/dentist/?utm_source=blog&utm_medium=rightsidebar&utm_campaign=meddy">Dentists</a>
        </li>
        <li>
          <a href="https://www.meddy.com/doctors/dermatologist/?utm_source=blog&utm_medium=rightsidebar&utm_campaign=meddy">Dermatologists</a>
        </li>
        <li>
          <a href="https://www.meddy.com/doctors/general+practitioner/?utm_source=blog&utm_medium=rightsidebar&utm_campaign=meddy">General Doctors</a>
        </li>
        <li>
          <a href="https://www.meddy.com/doctors/obstetrician+and+gynecologist/?utm_source=blog&utm_medium=rightsidebar&utm_campaign=meddy">Gynecologists</a>
        </li>
        <li>
          <a href="https://www.meddy.com/doctors/orthopedist/?utm_source=blog&utm_medium=rightsidebar&utm_campaign=meddy">Orthopedists</a>
        </li>

        <li class="side-bar-title">Keep In Touch</li>
        <li>
            <a href="https://twitter.com/meddyuae/">Twitter</a>
        </li>
        <li>
            <a href="https://www.facebook.com/meddyuae/">Facebook</a>
        </li>
        <li>
            <a href="https://www.instagram.com/meddydotcom/">Instagram</a>
        </li>

        <li class="side-bar-title">Who We Are</li>
        <li>
          <a href="https://wa.me/97466127945">Contact Us</a>
        </li>
        <li>
          <a href="https://www.meddy.com/privacy/">Privacy Policy</a>
        </li>
        <li>
          <a href="https://www.meddy.com/terms/">Terms</a>
        </li>

    </ul>
</nav>