<nav class="site-nav">
    <div class="site-nav-container">
        <div class="site-nav-left">
            {{#if @site.navigation}}
                {{navigation}}
            {{/if}}
        </div>
        <div class="site-nav-right">
            <div class="social-links">
                {{#if @site.facebook}}
                    <a aria-label="Facebook" class="social-link social-link-fb" href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                {{/if}}
                {{#if @site.twitter}}
                    <a aria-label="Twitter" class="social-link social-link-tw" href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                {{/if}}
                <a aria-label="Instagram" class="social-link" href="https://www.instagram.com/meddyuae/" target="_blank" rel="noopener">{{> "icons/instagram"}}</a>
            </div>
        </div>
    </div>
</nav>
