{{!< default}}

{{#post}}

{{> post-hero }}

<div class='o-wrapper'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--2-3-m'>
      <article class='c-{{ post_class }}'>

      {{#if access}}
        <div class='c-content'>
          {{ content }}
        </div>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--4-4-m o-grid__col--2-4-l'>
            {{#if tags}}
              <div class='c-tags'>
                {{ tags separator='' }}
              </div>
            {{/if}}
          </div>
          <div class='o-grid__col o-grid__col--4-4-s o-grid__col--4-4-m o-grid__col--2-4-l'>
            {{> share }}
          </div>
        </div>

        <hr>

        {{> disqus}}
      {{else}}
        {{> post-upgrade-cta }}
      {{/if}}

      </article>

    </div>

    {{/post}}

    <div class='o-grid__col o-grid__col--1-3-m'>
      {{> sidebar }}
    </div>
  </div>

</div>

{{> related-posts}}