<div class='c-member-plans'>
  <div class='c-member-plan'>
    <header class='c-member-plan__header'>
      <h3 class='c-member-plan__title'>Monthly</h3>
      <span class='c-member-plan__sign'>$</span>
      <strong class='c-member-plan__amount'>{{ @price.monthly }} </strong> USD / month
    </header>
    <div class='c-member-plan__content'>
      <ul class='c-member-plan__list'>
        <li>Full access to all private posts</li>
        <li>Regular updates with new content</li>
        <li>Support independent publishing</li>
        <li>Simple, secure card payment</li>
      </ul>
      <a class='c-btn c-btn--active c-btn--small' href='javascript:void(0)' data-members-plan='Monthly'>Choose this plan</a>
    </div>
  </div>

  <div class='c-member-plan'>
    <header class='c-member-plan__header'>
      <h3 class='c-member-plan__title'>Yearly</h3>
      <span class='c-member-plan__sign'>$</span>
      <strong class='c-member-plan__amount'>{{ @price.yearly }}</strong> USD / year
    </header>
    <div class='c-member-plan__content'>
      <ul class='c-member-plan__list'>
        <li>Full access to all private posts</li>
        <li>Regular updates with new content</li>
        <li>Support independent publishing</li>
        <li>Simple, secure card payment</li>
        <li>One easy payment instead of 12!</li>
      </ul>
      <a class='c-btn c-btn--active c-btn--small' href='javascript:void(0)' data-members-plan='Yearly'>Choose this plan</a>
    </div>
  </div>
</div>