<div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l'>
  <div class='c-tag-card'>
    <a href='{{ url }}' class='js-fadein c-tag-card__image' style='background-image: url({{ img_url feature_image size="m" }})'>
      <h2 class='c-tag-card__title'>{{ name }} <span class='u-font-size-tiny'>({{ count.posts }})</span></h2>
    </a>
  </div>
</div>