<div class='c-search js-search'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--3-4-m o-grid__col--2-4-l o-grid__col--center'>
      <form class='c-search__form'>
        <span class='c-search__icon' data-icon='ei-search' data-size='m'></span>
        <input type='search' aria-label='{{t "Search {blogtitle}" blogtitle=@site.title }}' class='c-search__input js-search-input' placeholder='{{t "Type to Search" }}'>
      </form>
    </div>
  </div>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4-s o-grid__col--3-4-m o-grid__col--2-4-l o-grid__col--center'>
      <div class='c-search-results js-search-results'></div>
    </div>
  </div>

  <div class='c-search__close js-search-close'>
    <div data-icon='ei-close' data-size='s'></div>
  </div>
</div>