/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  padding-left: $base-spacing-unit;
  border-left: quarter($base-spacing-unit) solid $color-brand;
  font-style: italic;
  font-family: $font-serif;
  font-size: $font-size-h4;

  p {
    margin-bottom: 0;
  }
}